[Unit]
Description=LTE Service
Before=network.target
[Service]

#ExecStartPre=/bin/sleep 60
#ExecStart=/usr/bin/python3 /usr/bin/power_management_mcu.py
ExecStart=/usr/bin/python3 /usr/bin/power_management_cpu.py
StandardOutput=tty

[Install]
WantedBy=multi-user.target
